<div>

The following configuration parameters are provided by the configuration component of the sample plug-in.

You can use the text in this area to introduce the configuration parameters. 

	<table class="propertyTable" role="presentation">
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_param1">Integration Key:</label>&nbsp;
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_param1" data-dojo-attach-point="integratorKeyField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>				
	</table>
</div>
