<div>
	<table class="propertyTable" role="presentation">
		<tr>
			<td class="propertyRowLabel"><span class="required">*</span> <label
				for="${id}_param3">Integration Key:</label>&nbsp;</td>
			<td class="propertyRowValue">
				<div id="${id}_param3" data-dojo-attach-point="integratorKeyField"
					data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64"
					data-dojo-type="ecm.widget.ValidationTextBox" required="true"
					trim="true" propercase="false"></div>
			</td>
		</tr>
	</table>
</div>
