<div class="viewerToolBarConfig">
${messages.configuration_title}
	<table class="propertyTable" role="presentation">
		<tr>
			<td class="propertyRowLabel">
				<label>${messages.configuration_title_top_button}</label>&nbsp;
			</td>
		</tr>	
		
		<!-- top button 1 -->
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_topButton1Tooltip">${messages.configuration_top_button1_tooltip}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="topButton1TooltipHoverHelp">${messages.configuration_top_button1_tooltip_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_topButton1Tooltip" data-dojo-attach-point="topButton1TooltipField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_topButton1ImageEnabled">${messages.configuration_top_button1_image_enabled}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="topButton1ImageEnabledHoverHelp">${messages.configuration_top_button1_image_enabled_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_topButton1ImageEnabled" data-dojo-attach-point="topButton1ImageEnabledField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="255" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_topButton1ImageDisabled">${messages.configuration_top_button1_image_disabled}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="topButton1ImageDisabledHoverHelp">${messages.configuration_top_button1_image_disabled_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_topButton1ImageDisabled" data-dojo-attach-point="topButton1ImageDisabledField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="255" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>

		<!-- top button 2 -->
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_topButton2Tooltip">${messages.configuration_top_button2_tooltip}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="topButton2TooltipHoverHelp">${messages.configuration_top_button2_tooltip_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_topButton2Tooltip" data-dojo-attach-point="topButton2TooltipField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_topButton2ImageEnabled">${messages.configuration_top_button2_image_enabled}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="topButton2ImageEnabledHoverHelp">${messages.configuration_top_button2_image_enabled_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_topButton2ImageEnabled" data-dojo-attach-point="topButton2ImageEnabledField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="255" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_topButton2ImageDisabled">${messages.configuration_top_button2_image_disabled}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="topButton2ImageDisabledHoverHelp">${messages.configuration_top_button2_image_disabled_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_topButton2ImageDisabled" data-dojo-attach-point="topButton2ImageDisabledField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="255" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
		
		<!-- image stamp button -->
		<tr>
			<td class="propertyRowLabel">
				<label>${messages.configuration_title_stamp_button}</label>&nbsp;
			</td>
		</tr>	
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_stampButtonLabel">${messages.configuration_stamp_button_name}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="rstampButtonLabelHoverHelp">${messages.configuration_stamp_button_label_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_stampButtonLabel" data-dojo-attach-point="stampButtonLabelField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_stampImage">${messages.configuration_stamp_image}</label>&nbsp;
				<div data-dojo-type="ecm/widget/HoverHelp" data-dojo-attach-point="topButtonImageEnabledHoverHelp">${messages.configuration_stamp_image_hover}</div>
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_stampImage" data-dojo-attach-point="stampImageField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="255" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
	</table>
</div>
