<div data-dojo-attach-point="containerNode" class="sampleImageViewer">
    <span data-dojo-attach-point="imageContainer"></span>
	<div data-dojo-attach-point="allAnnotations" style="visibility: hidden">
	    <hr>
	    <b>JSON Annotations:</b><br>
	    <span data-dojo-attach-point="annotationContainer"></span>
	    <hr>
	    <b>Native Annotation Data:</b><br>
	    <span data-dojo-attach-point="nativeContainer"></span>
	    <div data-dojo-attach-point="cmBookmarks" style="visibility: hidden">
		    <hr>
		    <b>JSON CM Bookmarks:</b><br>
		    <span data-dojo-attach-point="bookmarkContainer"></span>
		    <hr>
		    <b>Native CM Bookmark Data:</b><br>
		    <span data-dojo-attach-point="nativeBookmarkContainer"></span>
	    </div>
    </div>
</div>