<div>
	<table class="propertyTable" role="presentation">
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_jsonFilename">Sample Repository JSON File Name:</label>&nbsp;
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_jsonFilename" data-dojo-attach-point="jsonFilenameField" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
	</table>
</div>
