<div>

This is the sample plug-in repository configuration parameters pane. 

	<table class="propertyTable" role="presentation">
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_param1">Config Param 1:</label>&nbsp;
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_param1" data-dojo-attach-point="param1Field" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<label for="${id}_param2">Config Param 2:</label>&nbsp;
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_param2" data-dojo-attach-point="param2Field" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="false" trim="true" propercase="false"></div>
			</td>
		</tr>
		<tr>
			<td class="propertyRowLabel">
				<span class="required">*</span>
				<label for="${id}_param3">Config Param 3:</label>&nbsp;
			</td>
			<td class="propertyRowValue">
			   <div id="${id}_param3" data-dojo-attach-point="param3Field" data-dojo-attach-event="onKeyUp: _onParamChange" maxLength="64" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
			</td>
		</tr>
	</table>
</div>
