<div>
	<!--  Please add your configuration pane -->
	<!--  For example
    <table class="propertyTable" role="presentation">
        <tr>
            <td class="propertyRowLabel">
                <span class="required">*</span>
                <label for="${id}_ecServerURI">Server:</label>&nbsp;
                <div data-dojo-type="ecm.widget.HoverHelp" data-dojo-attach-point="ecServerURIHoverHelp" message="Specify a server address."></div>
            </td>
            <td class="propertyRowValue">
                <div id="${id}_ecServerURI" data-dojo-attach-point="ecServerURI" data-dojo-attach-event="onKeyUp: _onFieldChange" data-dojo-type="ecm.widget.ValidationTextBox" required="true" trim="true" propercase="false"></div>
            </td>
        </tr>
    </table>
    -->
</div>
